<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">

<dom-module id="gestor-clientes">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>
        <div class="container">
            <div class="row">
                <h1>Gestor de Clientes</h1>
                <button on-click="obtenerClientes" type="button" class="btn btn-success" name="button">Obtener
                    Clientes</button>
                <button on-click="anadirCliente" type="button" class="btn btn-warning" name="button">Añadir
                            Cliente</button>
                <div class="col-xs-12">
                    <template is="dom-if" if="{{isClientes}}">
                        <table class="table table-striped">
                            <thead>
                                <th>Id</th>
                                <th>Contact Name</th>
                                <th>Company Name</th>
                            </thead>
                            <tbody>
                                <template is="dom-repeat" items="{{clientes}}">
                                    <tr>
                                        <td>{{index}}</td>
                                        <td>{{item.ContactName}}</td>
                                        <td>{{item.CompanyName}}</td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </template>
                </div>
            </div>
    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class GestorClientesComponent extends Polymer.Element {
            static get is() { return 'gestor-clientes'; }
            static get properties() {
                return {
                    clientes: {
                        type: Array,
                        value: function () {
                            return [];
                        },
                        notify: true
                    },
                    isClientes: {
                        type: Boolean,
                        computed: 'computeClientes(clientes)'
                    },
                    respuesta: {
                        type: String,
                        value: ''
                    }
                };
            }
            obtenerClientes() {
                const url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
                var request = new XMLHttpRequest();
                request.open("GET", url, false);
                request.setRequestHeader("Accept", "application/json");
                request.send();
                let { value } = JSON.parse(request.responseText);
                this.clientes = value;
            }
            computeClientes(clientes) {
                return clientes.length > 0;
            }
            anadirCliente(){
                const url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
                var request = new XMLHttpRequest();
                request.open("POST", url, false);
                request.setRequestHeader("Accept", "application/json");
                request.setRequestHeader("Content-Type", "application/json");
                let cliente = {CustomerID: "123", ContactName: "Jose estevez", CompanyName: "BBVA"};
                request.send(JSON.stringify(cliente));
                this.respuesta = request.responseText;
                console.log(this.respuesta);
            }
        }

        window.customElements.define(GestorClientesComponent.is, GestorClientesComponent);
    </script>
</dom-module>